<div class="contentinfo__social row row--expanded">
  <div class="column">
    <a href="tel:+447572715264" rel="external noopener" class="content-block theme-social">
      <svg class="icon icon--large icon--light">
        <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#phone"></use>
      </svg>
      Call us +44 7572 715264
    </a>
</div>
  <div class="column">
    <a href="https://www.facebook.com/LibertyRestoredUK/" target="_blank" rel="external noopener" class="content-block theme-social">
      <svg class="icon icon--large icon--light">
        <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#facebook"></use>
      </svg>
      Finf us on Facebook
    </a>
</div>
  <div class="column">
    <a href="mailto:admin@libertyrestored.co.uk" rel="external noopener" class="content-block theme-social">
 	    <svg class="icon icon--large icon--light">
        <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#email"></use>
      </svg>
      admin@libertyrestored.co.uk
    </a>
</div>
</div>
