<nav class="off-canvas-wrapper">
  <div class="off-canvas">
    <div class="off-canvas__logo">
      <svg class="logo logo--light">
        <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#logo"></use>
      </svg>
    </div>
    <ul class="off-canvas__nav">
      <li><a class="off-canvas__link" href="{{ site.baseurl }}/">Home</a></li>
      <li><a class="off-canvas__link js-nav-close" href="#contact">Contact</a></li>
    </ul>
    <a class="off-canvas__close js-nav-close">
      <div class="drawer__close-icon">
        <span class="sr-only">Close the menu</span>
        <svg class="icon icon--light">
          <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#menu-close"></use>
        </svg>
      </div>
    </a>
  </div>
</nav>
