<header class="top-bar">
  <a class=top-bar__logo href="{{ site.baseurl }}/">
    <span class="sr-only">Go to the Liberty Church homepage</span>
    <svg class="logo icon--light">
      <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#logo"></use>
    </svg>
  </a>

  {% include nav-primary.html %}

  <!--<button class="top-bar__nav-toggle js-nav-open">
    <svg class="icon icon--light">
      <use xlink:href="{{ site.baseurl }}/images/icons/svg-icons.svg#menu"></use>
    </svg>
    <span class="sr-only">Open the</span> Menu
  </button>-->


</header>
