.content-block {
position: relative;
width: 100%;
font-size: 1.125em; //18px/16px
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

  iframe {
    margin-bottom: 0;
  }

}

.content-block--align-top {
justify-content: flex-start;
}

.content-block-inner {
@include z-index(content-block);
max-width: 800px;
margin-left: auto;
margin-right: auto;
padding: 2em 1em;
display: flex;
flex-direction: column;
}

.content-block__content {
width: 100%;
z-index: 1;
}

.content-block__heading {
@include z-index(content-block);
text-transform: uppercase;
font-size: 2.25rem; //36/16
margin-bottom: 0.5em;
}

.fonts-loaded .content-block__heading--cta {
font-family: lovetime_cleanregular, sans-serif;
text-transform: none;
color: $white;
font-weight: normal;
line-height: 1;
margin-bottom: 0;
font-size: 3.5rem;

  @include medium {
    font-size: 4rem;
  }

  @include large {
    font-size: 4.5rem;
  }
}

.header-block__heading {
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: normal;
font-size: 4rem;
margin: 0;
transition: font-size 0.3s ease;
color: $white;
line-height: 1;

  @include medium {
    font-size: 6rem;
  }

  @include large {
    font-size: 8rem;
  }
}

.fonts-loaded .header-block__heading {
  font-family: lovetime_cleanregular, sans-serif;
}

.header-block__subheading {
font-size: 1.75em; //28/16
margin-bottom: 0.5em;
z-index: 1;
font-weight: 100;
padding-top: 2rem;
}

.content-block__subheading {
z-index: 1;
font-weight: 100;

 .icon {
 display: block;
 margin: 0 auto 0.5em;
 }

}

.content-block__footer {
@include z-index(content-block);
}

.content-block--image {
background-position: top center;
background-size: cover;
min-height: 400px;

  @include large {
  min-height: 540px;
  }

}



.content-block--overlay {
@include z-index(content-overlay);

  &:before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  }

}

.content-block--overlay {

  &:before {
  background: rgba($black, 0.2);
  }

}


.content-block--header {
  padding: 3em 1em 2em;
}

.content-block--left {

  .content-block__content {

    @include medium {
    width: 60%;
    }

  }

  .content-block-inner {
    @include medium {
    align-items: flex-start;
    text-align: left;
    }
  }

}

.content-block--right {

  .content-block__content {
    @include medium {
    width: 60%;
    }
  }

  .content-block-inner {
    @include medium {
    align-items: flex-end;
    text-align: right;
    }
  }


}


.content-block--fullwidth {
padding: 0;
}

.content-block--fullwidthmap {
@include z-index(map);
padding: 0;
display: block;
}


.slice {
background: $restoredark;
position: relative;
z-index: 1;
}
.slice--top {

  &:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  top: 0;
  transform: skewY(-2.5deg);
  transform-origin: 0 100%;
  }

}

.slice--bottom {

  &:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
  }

}
