@mixin clearfix {
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

.sr-only {
clip: rect(1px, 1px, 1px, 1px);
height: 1px;
overflow: hidden;
position: absolute !important;
width: 1px;
}

.list--nobullets {
list-style-type: none;
margin: 0;
padding: 0 $gutterwidth;

}

.space--bottom {
  margin-bottom: 1.5em;
}


.space--above {margin-top: $baselineheight;}
.space--above-double {margin-top: $baselineheight * 2;}
.space--below {margin-bottom: $baselineheight;}
.space--below-double {margin-bottom: $baselineheight * 2;}
.space--vertical {margin: $baselineheight 0;}
.space--vertical-double {margin: $baselineheight * 2 0;}

.gutter--left {padding-left: $gutterwidth;}
.gutter--right {padding-right: $gutterwidth;}
.gutter--sides {padding: 0 $gutterwidth;}
.gutter--sides-half {padding: 0 $gutterwidth / 2;}

iframe,
.fluid-vids {
  margin-bottom: $baselineheight;
}


.typeform-widget iframe {
margin-bottom: 0;
}
