.row {
display: flex;
flex-direction: row;
flex-wrap: wrap;
max-width: 75em;
margin-left: auto;
margin-right: auto;
position: relative;
}

.row--deep-light {
  padding: 4em 0;
  background: $white;
}

.row--expanded {
max-width: none;
}

.align-middle {
align-items: center;
}

.align-top {
align-items: flex-start;
}

.align-bottom {
align-items: flex-end;
}

.align-stretch {
align-items: stretch;
}

.justify-center {
justify-content: center;
}

.column {
flex-basis: 100%;

  @include medium {
  display: flex;
  flex: 1;
  }

}

.sm-order-1 {order: 1;}
.sm-order-2 {order: 2;}
.sm-order-3 {order: 3;}
.sm-order-4 {order: 4;}
.sm-order-5 {order: 5;}
.sm-order-6 {order: 6;}

@include medium {
  .md-order-1 {order: 1;}
  .md-order-2 {order: 2;}
  .md-order-3 {order: 3;}
  .md-order-4 {order: 4;}
  .md-order-5 {order: 5;}
  .md-order-6 {order: 6;}
}

.container {
margin-left: auto;
margin-right: auto;
display: block;
overflow: visible;

  @include medium {
  max-width: 60em;
  }

}
