.off-canvas-wrapper {
position: relative;
overflow: hidden;
}

  .off-canvas-wrapper.is-visible .off-canvas {
  transform: translateX(0);
  }

.off-canvas {
@include z-index(off-canvas);
background-color: $restored;
border-left: 1px solid darken($restored, 10%);
color: $whitesmoke;
bottom: 0;
right: 0;
position: fixed;
left: 0;
top: 0;
transition: all ease-in-out 0.25s;
transform: translateX(100%);
overflow-y: auto;
will-change: transform;
-webkit-overflow-scrolling: touch;
height: 100%;

  @include medium {
  left: 60%;
  }

  @include large {
  left: 70%;
  }

  @include xlarge {
  left: 70%;
  }

}

.off-canvas__nav {
margin: 0;
padding: 0;
}

.off-canvas__link {
border-bottom: 1px solid darken($restored, 10%);
display: block;
padding: 1.5rem 2rem;
text-align: right;
text-transform: uppercase;
text-decoration: none;
color: $whitesmoke;
background-color: $restored;
font-weight: bold;

  &:hover {
  background-color: darken($restored, 15%);
  color: $whitesmoke;
  }

}

.off-canvas__close {
position: absolute;
top: 2.2rem;
right: 1rem;
background: transparent;
border: 0;
-webkit-appearance: none;
cursor: pointer;
}

.off-canvas__logo {
padding: 1rem;
border-bottom: 1px solid darken($restored, 10%);
}

// This class is used to fix scrolling on iOS devices when
// the navigation drawer is open.
.off-canvas-no-scroll {
overflow: hidden;
position: fixed;
width: 100%;
height: 100%;
}
