<article class="content-block theme-light">
    <div class="content-block-inner">
      <h2 class="content-block__heading">
        <span class="sr-only">Liberty Lambs</span>
        <img src="{{ site.baseurl }}/images/logos/lambs.png" width="380" alt="" role="presentation"/>
      </h2>
  
      <div class="content-block__content">
      </div>
      <div class="content-block__footer"><a class="btn btn--outline" href="https://www.facebook.com/LibertyLambs/">Facebook Page</a></div>
    </div>
  </article>
  