<article class="content-block theme-light">
  <div class="content-block-inner">
    <h2 class="content-block__heading">
      <span class="sr-only">Parenting</span>
      <img src="{{ site.baseurl }}/images/logos/parenting.png" width="380" alt="" role="presentation"/>
    </h2>

    <div class="content-block__content">
    </div>
    <div class="content-block__footer"><a class="btn btn--outline" href="https://www.careforthefamily.org.uk/courses/parenting-courses-time-out">Care for the Family: Postive parenting</a></div>
  </div>
</article>
